
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  /*background: #ffffff;*/
        /*background: #dcdcdc;*/
    background-size: contain;
}

a {
    /*color: #ffffff;*/
    /*color: #70b8b5;*/
  /*color: #0071B3;*/
  /*color: #477933;*/
  /*color: #528d30;*/
  color: #507299;
  cursor: pointer;
}
a:hover,
a:focus {
    /*color: #507299;*/
    /*background: #ffffff;*/
    /*color: #FFFFFF;*/
    /*color: #2050b3;*/
    /*color: #558886;*/
    /*color: #659e89;*/
  /*color: #018fe2;*/
}
a:active {
    /*color: #507299;*/
    /*color: #f1f1f1;*/
    /*color: #2050b3;*/
    /*color: #659e89;*/
  /*color: #23aeff;*/
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper {
  background: white;
}
/*input#exit*/
/*.views-title a,*/
#logo input {
    border-radius: 7px;
    border: 1px solid #f9fefe;
    /* border: none; */
    border-left-width: medium;
    border-bottom-width: medium;
    background: #70b8b5;
    margin-left: 10px;
    /* background: #f53c3c; */
    color: white;
    height: 20px;
    margin: 10px;
    font-style: initial;
    text-transform: uppercase;
    float: right;
    font-family: sans-serif;
}
.butNav a {
    border-radius: 5px;
    border: 1px solid #f9fefe;
    border-right-width: medium;
    border-top-width: medium;
    background: #70b8b5;
    color: white;
    height: 20px;
    margin: 5px;
    padding: 2px 10px 2px 10px;;
    font-style: initial;
    text-transform: uppercase;
    float: right;
    font-family: sans-serif;
}
#logo input.text:focus {
    background-color: #ffffff;
    color: #ffffff;
   }
#logo input:-webkit-input-placeholder{
    background-color: #ffffff;
    color: #ffffff;
   }