/* test */
.message_textarea:empty:before,
#message_textarea:empty:before {
    content: attr(placeholder);
    color:#757575;
}

/**
 * ==============================================
 * Dot Typing
 * ==============================================
 */
#dot-loader {
    display: none;
    margin: 0 auto;
    width: 0px;
}
 
.dot-typing {
    position: relative;
    left: -9999px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: #507299;
    color: #507299;
/*    box-shadow: 9984px 0 0 0 #507299, 9999px 0 0 0 #507299, 10014px 0 0 0 #507299;*/
    box-shadow: 9950px 0 0 0 #507299, 10000px 0 0 0 #507299, 10050px 0 0 0 #507299;
    animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9970px 0 0 0 #75879b, 10000px 0 0 0 #507299, 10030px 0 0 0 #507299;
  }
  16.667% {
    box-shadow: 9970px -10px 0 0 #75879b, 10000px 0 0 0 #507299, 10030px 0 0 0 #507299;
  }
  33.333% {
    box-shadow: 9970px 0 0 0 #507299, 10000px 0 0 0 #75879b, 10030px 0 0 0 #507299;
  }
  50% {
    box-shadow: 9970px 0 0 0 #507299, 10000px -10px 0 0 #75879b, 10030px 0 0 0 #507299;
  }
  66.667% {
    box-shadow: 9970px 0 0 0 #507299, 10000px 0 0 0 #507299, 10030px 0 0 0 #75879b;
  }
  83.333% {
    box-shadow: 9970px 0 0 0 #507299, 10000px 0 0 0 #507299, 10030px -10px 0 0 #75879b;
  }
  100% {
    box-shadow: 9970px 0 0 0 #507299, 10000px 0 0 0 #507299, 10030px 0 0 0 #507299;
  }
}

/* ---------- Overall Specifications ---------- */
html,
body,
#page  {
    height: 100%;
    -webkit-text-size-adjust: none;
}
#header {
      width: 100%;
      margin: 0 auto;
}
#header div.section {
    position: relative;
}
#main-wrapper {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
body {
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Helvetica Neue", sans-serif;
    line-height: 1.5;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
a:link,
a:visited {
    text-decoration: none;
}
.us-block {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.us-block .views-row {
    cursor: pointer;
    float: left;
    padding: 0;
    list-style: none;
}

ul.us-block li:hover{
    background: #d6d6d6;
}

.auto-images {
    position: relative;
}

.user-post {
    top: 15px;
    position: relative;
    float: left;
    width: 100%;
    margin: 0 auto;
}

#node ul.day-block {
    max-width: 720px;
    width: 100%;
    position: relative;
}

ul.day-block {
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
}

ul.day-block img {
    border-radius: 7px;
    cursor: pointer;
}

.us-list {
    float: left;
    margin: 15px;
}

.us-list img {
    float: left;
}

.large-offset a{
color: #507299;
}

.large-offset a:hover{
color: #507299;
}

.large-offset input:-webkit-autofill,
.large-offset textarea:-webkit-autofill,
.large-offset select:-webkit-autofill {
    background-color: white;
}

.large-offset a {
    color: #507299;
}
.large-offset img {
    outline: 0;
    float: left;
    padding: 15px;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px 0px;
    font-weight: inherit;
}

h1 {
    font-size: 1.357em;
    color: #000;
}
h2 {
    font-size: 1.143em;
}
p {
    margin: 0 0 1.2em;
}
del {
    text-decoration: line-through;
}
tr.odd {
    background-color: #dddddd;
}
img {
    outline: 0;
}


/* ------------------ Fonts ------------------ */

textarea, select, a.button {
    font-family: Arial;
    border-color: #507299;
    background: #f1f1f1;
    color: #ada9a9;
    border: none;
}

/* ------------------ Header ------------------ */

#logo {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.imglogo {
    float: left;
    border-left: 3px solid white;
    height: 40px;
    padding-left: 10px;
    margin-left: 5px;
}
.butNav img{
    cursor: pointer;
}
.butNav img:hover{
    background: #1f4e84;
    border-radius: 5px;
}
#userA{
    cursor: pointer;
    float: left;margin: 5px;width: 39px;height: 30px;
    background: url(/media/images/USERICONvF.png);position: relative;background-size: cover;border: none;padding: 0;
}

#addPost{
    cursor: pointer;
    float: left;margin: 5px;width: 39px;height: 30px;
    background: url(/media/images/ADDICONvF.png);position: relative;background-size: cover;border: none;padding: 0;
}

/* -------------- Breadcrumbs   -------------- */

/*.breadcrumb {*/
/*    font-size: 0.929em;*/
/*}*/

/* Animated throbber */
html.js input.form-autocomplete {
    background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
    background-position: 100% -16px; /* LTR */
}

.overlay #main,
.overlay #content {
    width: auto;
    float: none;
}
.overlay #page {
    padding: 0 2em;
}
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
    display: none;
}
.overlay-processed .field-type-image {
    display: block;
    float: none;
}
.overlay #messages {
    width: auto;
}
#imagelightbox {
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
}
#sidebar-first img {
    width: 12.75em;
    height: 8.75em;
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 );
    -webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 );
    box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 );
    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;
}
.pm {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #8d9daf; /* Blue  #3498db;*/
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 10% auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#conver .message {
    margin: 0px AUTO;
    padding: 0px;
    width: 100%;
    float: left;
}

p.author.we {
    float: right;
    margin: 0;
}

p.txtmessage.we {
        /*background: #ffffff;*/
    background: #f1f1f1;
    border-radius: 10px;
    max-width: 553px;
    text-align: left;
    /*width: 500px;*/
    /*width: 490px;*/
    float: right;
    margin-right: 20px;
    padding: 5px;
    position: relative;
    /*display: inline-block;*/
    display: block;
}

p.we:before {
    content: "";
    position: absolute;
    top: 19px;
    right: -15px;
    border-width: 2px;
    border-top-width: 13px;
    border-right-width: 16px;
    border-color: #f1f1f1 transparent transparent transparent;
    border-style: solid;
}

p.partner:before {
    content: "";
    position: absolute;
    top: 19px;
    left: -15px;
    border-width: 2px;
    border-top-width: 13px;
    border-left-width: 16px;
    border-color: #f1f1f1 transparent transparent transparent;
    border-style: solid;
}

p.author.partner {
    float: left;
    margin: 0;
    padding: 0px;
}

.txtmessage {
    background: #f1f1f1;
    border-radius: 10px;
    max-width: 553px;
    margin: 20px;
    text-align: left;
    float: left;
    padding: 5px;
    position: relative;
    display: block;
}

.navlis{
    width: 100%;
    margin: 0 auto;
    z-index: 9999999;
}


#block-post {
    border: 0 none;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
}

#conimg {
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow-y: auto;
}

#user-page{
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#breadcrumb .user a {
    padding: 3px 6px;
    margin: 0;
    top: 0;
    border: none;
}
li.views-row {
    width: auto;
    background: #FFFFFF;
    float: left;
    margin: 5px;
    list-style: none;
    border-radius: 10px;
    padding: 5px;
}
.day-block li.views-row:hover{background: #f1f1f1;}
#post-form {
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.parchat {
    font-size: 25px;
}

.parchat p { margin: 0 auto; }

.new_message {
    position: relative;
    margin: 0 auto;
    width: 600px;
}

.pm-mes {
    text-align: center;
    width: 600px;
    margin:0 auto;
}

.pm-mes #message_textarea {
    text-align: left;
}

.chat,
.private_messages {
    text-align: center;
}

#message_form_comment {
    width: 600px;
    border-radius: 8px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 11px;
}


#block-post #message_form {
    width: 600px;
    border-radius: 8px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    top: 20px;
}

#message_form {
    width: 600px;
    border-radius: 8px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 25px;
}

textarea#message_textarea {
    margin-top: 10px;
}

.large label {
    float: left;
    position: relative;
    width: 100%;
}

input#myPROFILE {
    width: 130px;
}

.message .views-title {
    background: #507299;
    color: white;
    border-radius: 12px;
    font-size: 16px;
}

.message .views-title a{color: white;}

.views-title a{color: #ffffff;}

.views-row .views-title{
    margin: 0 auto;
    background: #507299;
    margin-bottom: 3px;
    border-radius: 5px;
}

.message .views-title img {
    border-radius: 33px;
    margin: 9px;
    float: left;
    width:30px; height:30px;
}

.message .field-image{width: auto;background: #f1f1f1;}

.field-image {
    width: auto;
}
.about {
    position: relative;
}

#tooltip {
      position: fixed;
      z-index: 100;
      max-width: 200px;
      padding: 10px 20px;
      border-radius: 2px;
      text-align: center;
      font: 14px/1.3 arial, sans-serif;
      color: #333;
      background: #fff;
}

.field-text {
    margin: 13px 0px;
    padding: 2px;
}

#wscroll {
    position: absolute;
    width: 1px;
    top: 0;
    left: 0;
}


.auto_height_text { 
  width: 100%;
}

#conver {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 48px;
    position: relative;
    margin: 0 auto;

}

#conver-chat {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 900px;
}

#conversation {
    width: 700px;
    margin: 0 auto;
}

.chat input#image_file {
    margin: 0 auto;
    position: relative;
}

#textcanvas,
#canvas {
    margin-top: 10px;
    max-height: 600px;
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.slidercolor,
.slider {
    border-radius: 5px;
    background: #E0E0E0;
    background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
    background: linear-gradient(left top, #E0E0E0, #EEEEEE);
    width: 310px;
    height: 15px;
    margin: 5px;
}

.thumbcolor,
.thumb {
    width: 10px;
    height: 25px;
    border-radius: 3px;
    position: relative;
    left: 46%;
    margin-bottom: 15px;
    top: -5px;
    background: blue;
    cursor: pointer;
}

.logoF{
    position: relative;
    top: 3px;
    width:39; 
    height:23;
}

#header {
    background-color: #507299;
    width: 100%;
    margin:0 auto;
    background-size: contain;
    height: 40px;
}

#header a {
    font-size: 20px
}

.enter {
    width:40px; 
    height:40px; 
    float: right;
}

.usPr{
    width:auto; 
    height:30px;
    float:left;
    margin:5px;
    background: #2e4a6b;
    border-radius: 160px;
}

.wallpost{
    max-width: 650px;
    /*min-height: 380px;*/
}

input[type="file"] {
    border: none;
    font-size: 20px;
}

input[type="button" ] {
    border: none;
    font-size: 60px;    
}

.loading{
   border:1px solid #000;
   text-align:center;
   font-weight:bold;
   margin:5px;
}

.compas:hover{
    transition: 1s;
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.compas:active{
    transition: 1s;
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.compas:not(:hover) {
    transition: 0.8s;
}

div#cn {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.uspgimg img {
    outline: 0;
    /*border: 5px solid #507299;*/
    border-radius: 8px;
}

.info {
    width: 900px;
    margin: 0 auto;
}

#send {
    display: block;
    position: fixed;
    bottom: 25px;
    left: 49%;
    background: #507299;
    padding: 6px;
    border-radius: 10px;
}

#imginreg {
    position: relative;
    width: 100%;
    float: left;
}
#block-post #foll {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    top: 40px;
    right: 0;
    left: 0;
    padding: 10px;
}

li.views-foll {
    list-style: none;
    background: #f2f2f2;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
}

.views-foll .views-title {
    background: #507299;
    color: white;
    font-size: 26px;
    text-align: left;
    padding: 10px 15px;
}
#imgf {
    max-width: 900px;
    width: 100%;
}
.us-nm {
    margin: 19px;
}
.us-img,
.us-nm {
    float: left;
}

.fr-cell img {
    max-height: 200px;
    height: 100%;
    max-width: 190px;
}

.fr-cell {
    float: left;
    margin: 5px;
    width: 190px;
}

h2 {
    font-size: 40px;
    margin-top: 6px;
    margin-bottom: 10px;
}

#Thumb {
    max-width: 230px;
    max-height: 130px;
}

#ProgressContainer {
    height: 36px;
    background: #F8F8F8;
    margin-top: 14px;
    border: 1px solid #E8E8E8;
    border-top: 1px solid #D8D8D8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px;
}

#ProgressBar {
    height: 100%;
    width: 0%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgb(80, 114, 153);
}

#UploadBox {
font-family: Arial;
    padding: 0;
    color: #f1f1f1;
    position: relative;
    margin: 0 auto;
    width: 600px;
}
#UploadArea input {
    margin-top: 10px;
    margin-bottom: 8px;
}

#UploadArea input[type=text] {
    border: 1px solid #CDCDCD;
    border-top: 1px solid #676767;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    padding: 2px;
    width: 300px;
    margin-left: 10px;
}

#body-post-wall{
/*    padding: 5px;*/
/*    text-align: center;*/
    background: #f1f1f1;
    color: #afafaf;
}
.about .f-c {
    background:#f1f1f1;
}

.large {
    width: 100%;
    margin: 0 auto;
}
#oimg,
.large form {
      width: 600px;
      margin: 0 auto;
      padding: 15px 0px;
  }
.large span,
.large label,
.large input{
        width: 100%;
}

#YO {
    display: block;
    width: 600px;
    margin: 0 auto;
}
@media only screen and (min-width : 200px){
    .fr-cell{
        font-size: 28px;
    }
    .large span{
        font-size: 24px;
    }
    .large input {
        font-size: 36px;
        background: #f1f1f1;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        color: #262626;
        padding: 10px;
        -webkit-appearance: none;
        margin-bottom: 10px;
        }
     .large .button {
        font-size: 50px;
        border: 1px solid #507299;
        border-radius: 6px;
        box-sizing: border-box;
        color: #ffffff;
        padding: 8px 0px;
        -webkit-appearance: none;
        background: #507299;
    }
    a#user-link{
        padding: 0;
        font-size: 30px;
        color: #507299;
        font-family: sans-serif;
    }
    p#post-text {
        font-size: 30px;
        margin: 0 auto;
        padding: 10px 40px;
        text-align: left;
        color: #9a9a9a;    
    }

    a#deletepost {
        float: left;
        background: #507299;
        color: white;
        font-size: 22px;
        margin: 30px 0px 25px 10px;
    }

    img#comment-image {
        max-width: 500px;
        max-height: 500px;
    }
    
    #SIMPLE {
        display: block;
        position: relative;
        height: 177px;
        width: 200px;
        float: left;
    }

    #time-comment {
        text-align: right;
        font-size: 24px;
        display: block;
        position: relative;
        padding-right: 10px;
    }
    .large-offset {
        position: relative;
        border-radius: 10px;
        font-size: 35px;
        padding: 30px;
        text-align: center;
        font-family: sans-serif;
    }

    .large-offset input {
        font-size: 50px;
        background: #f1f1f1;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        color: #262626;
        padding: 10px;
        width: 100%;
        -webkit-appearance: none;
        margin-bottom: 10px;
    }
    
    .large-offset form {
        width: 600px;
        margin: 0 auto;
        position: relative;
    }

    .large-offset .button {
        font-size: 50px;
        border: 1px solid #507299;
        border-radius: 3px;
        box-sizing: border-box;
        color: #ffffff;
        padding: 5px 55px 6px;
        -webkit-appearance: none;
        background: #507299;
    }
    .compose .message_textarea,
    .box-com .message_textarea,
    .compose #message_textarea {
        background: #f1f1f1;
        border: none;
        padding: 10px;
        font-size: 36px;
        border-radius: 10px;
        color: #7b7b7b;
        margin-bottom: 10px;
        text-align: left;
    }

    #send {
        left: 45%;
    }
    img.send-img {
        outline: 0;
        width: 98px;
        height: 98px;
        background: #507299;
        padding: 6px;
        border-radius: 7px;
    }
    #send-img {
        outline: 0;
        width: 98px;
        height: 98px;
    }
    .message {
        margin: 20px 0;
        margin: 20px;
    }
    #id_image_user_lb {
        font-size: 40px;
        text-align: center;
        background: #507299;
        color: white;
        cursor: pointer;
        border-radius: 6px;
        z-index: 9999;
        margin: 0 auto;
        margin-top: 15px;
        display: block;
        padding: 5px 0px;
    }
    .title {
        float: left;
        margin: 17 0 0 8;
    }
/*    input.comment_text {*/
/*        width: 100%;*/
/*        border: none;*/
/*        font-size: 36px;*/
/*        margin-bottom: 40px;*/
/*        background: #f1f1f1;*/
/*        padding: 20px;*/
/*    }*/
/*    p#comment-text {*/
/*        font-size: 22px !important;*/
/*    }*/
    .f-c {
        text-align: left;
        margin-right: 20px;
        padding: 5px;
        margin-bottom: 15px;
        background: #ffffff;
        margin-left: 20px;
        border-radius: 7px;
        color: #6f6f6f;
        font-size: 28px !important;
    }
    
   .video_file,
   .image_file{
        display: block;
        background: #507299;
        color: white;
        font-size: 40px;
        margin: auto auto 35px auto;
        width: 600px;
        cursor: pointer;
    }
    img.edprof{
        background: #507299;
        border-radius: 15px;
        width: 110px;
        height: 90px;
        right: 160px;
        bottom: 25px;
        padding: 10px;
        position: fixed;
    }
    img.addusr {
        background: #507299;
        border-radius: 15px;
        width: 110px;
        height: 90px;
        right: 160px;
        bottom: 25px;
        padding: 10px;
        position: fixed;
    }
    img.topbt {
        right: 25px;
        position: fixed;
          width: 110px;
        bottom: 25px;
    }
    em {
        font-size: 40px;
    }
    #results input{
        font-size: 50px;
    }
    #block-post #node {
        left: 0;
        top:0;
        bottom: 0;
        right: 0;
        background: white;
        max-width: 100%;
/*        text-align: center;*/
    }
    .send button {
        color: #ffffff;
        border: 1px solid #507298;
        font-size: 30px;
        background: #507299;
        border-radius: 7px;
        margin-top: 5px;
        width: 100%;
    }
    .uspgimg img{
        max-width: 900px;
        max-height: 600px;
    }
    .pm-mes a, #YO a, .private_messages a {
        cursor: pointer;
        border-radius: 5px;
        background: #507299;
        color: #ffffff;
        top: 0;
        position: relative;
        font-size: 36px;
        width: 600px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        padding: 5px 0 5px 0;
        font-style: initial;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    input#NameBox,
    input#recipient_name, 
    input#id_title {
        width: 600px;
        padding: 0;
        text-align: center;
        background: #f1f1f1;
        border: none;
        margin: 35px 0 35px 0;
        font-size: 50px;
        color: #a9a9a9;
    }

    img#like_count {
        position: fixed;
        right: 24px;
        bottom: 157px;
        width: 90px;
        height: 90px;
        border-radius: 15px;
        padding: 10px;
        opacity: 0.9;
        background: #e3554c;
    }

/*    img#like_count {*/
/*        position: fixed;*/
/*        left: 170px;*/
/*        bottom: 25px;*/
/*        width: 90px;*/
/*        height: 90px;*/
/*        border-radius: 15px;*/
/*        padding: 10px;*/
/*        opacity: 0.9;*/
/*        background: #e3554c;*/
/*    }*/
    .pmu {
        cursor: pointer;
        font-size: 40px;
    }   
    .private_messages h1{font-size: 50px}
    #block-post #next{
        height: 150px;
        width: 90px;
        left: 34px;
        background-image: url(/media/images/controlsv4.png);
        background-position: 0 -120px;
        background-size: cover;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        opacity: 0.7;
        background-color: #6d6d6d;
        top: 50%;
        margin-top: -16px;
        z-index: 9999999;
    }
    #back {
        height: 150px;
        width: 90px;
        right: 25px;
        background-image: url(/media/images/controlsv4.png);
        background-position: 0 172px;
        background-size: cover;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        opacity: 0.7;
        background-color: #6d6d6d;
        top: 50%;
        margin-top: -16px;
        z-index: 9999999;
    }
    #block-post #close {
        background-image: url(/media/images/controlsv4.png);
        width: 110px;
        height: 105px;
        background-size: cover;
        background-color: #5f5f5f;
        border-radius: 14px;
        padding: 2px;
        position: fixed;
        right: 25px;
        bottom: 25px;
        margin: 0 auto;
        background-position: 1px -3px;
        opacity: 5.5;
        -o-transition: opacity 100ms linear;
        transition: opacity 100ms linear;
        cursor: pointer;
        z-index: 9999999;
    }
    .userview   {
        background: url(/media/images/showvF.png);
        background-size: cover;
        margin: 0 auto;
        height: 75px;
        width: 135px;
        display: block;
    }
    
    .soc a {
    text-transform: uppercase;
    font-size: 36px
    }

    .us-block {
        max-width: 900px;
    }
    
    .us-block img {
        margin: 5px;
/*        width: 170px;*/
/*        height: 170px;*/
        width: 215px;
        height: 215px;
        border: none;
        background-size: cover;
    }
    
    .us-name h3 {
     font-size:70px;
     color: #507299;
     margin: 0;
     font-weight: bold;
    }
    
    #breadcrumb {
        font: normal normal normal 36px 'Helvetica Neue',Helvetica,Arial,sans-serif;
        font-weight: bold;
        height: 86px;
        color: #FFFFFF;
        text-align: center;
    }
    #breadcrumb .user {
        float: right;
        font-size: 20px;
        margin: 30px 10px;
    }
    textarea#id_body {
        width: 100%;
        max-width: 600px;
        min-height: 300px;
    }
    textarea, select, a.button {
        font-family: Arial;
        padding: 15px;
        border-color: #507299;
        background: #f1f1f1;
        color: #ada9a9;
        border: none;
        font-size: 36px;
    }
    .wallpost {
        max-width: 100%;
        min-width: 100%;
        cursor: pointer;
    }
    
    #block-post #node .auto-images img {
        max-width: 100%;
        min-width: 100%;
    }
    
    #conver{
        font-size: 30px;
    }
    
    #conversation {
        width: 100%;
        margin: 0 auto;
    }
    button {
        font-size: 36px;
        padding: 15px;
        color: #FFFFFF;
        background: #507299;
        border-radius: 7px;
        width: 100%;
        border: none;
    }
    .message .views-title {
        background: #507299;
        color: white;
        border-radius: 0px;
        font-size: 30px;
    }
    
    .postview {
        float: left;
        margin: 14px 5px;
    }
    .datetime {
        float: right;
        margin: 16px 5px;
    }
    #image-user,
    .message .views-title img {
        border-radius: 100px;
        margin: 9px;
        float: left;
        width: 60px;
        height: 60px;
    }
    .usPr {
        height: 125px;
    }
    .message  .usPr {
        height: 90px;
    }
    #header a {
        font-size: 65px;
    }
    .logoF {
        width: 115px;
        height: 65px;
        position: relative;
        top: 7px;
    }
    
    .aLogo{
        color:white;
        font-family:sans-serif;
        top: -6px;
        position: relative;
    }
    
    #header {
        background-color: #507299;
        width: 100%;
        margin: 0 auto;
        background-size: contain;
        height: 80px;
    }
    
    .compas {
        width: 90px;
        position: fixed;
        height: 90px;
        border-radius: 20px;
        padding: 10px;
        background: #507299;
        left: 33px;
        bottom: 25px;
        z-index: 999999;
        cursor: pointer;
    }

    .enter {width:80px; height:80px;float: right;cursor: pointer;}
    
    .imglogo {height: 80px;}
    
    #userA,#addPost{
        width: 125px;
        height: 100px;
    }
    
    #userA:hover{
        background: url(/media/images/USERICONvF.png)0 100px;position: relative;background-size: cover;
        border: none;padding: 0;
        width: 125px;
        height: 100px;
    }
    
    #addPost:hover{
        background: url(/media/images/ADDICONvF.png)0 100px;position: relative;background-size: cover;border: none;padding: 0;
        width: 125px;
        height: 100px;
    }
    
    #butMen{
        position: fixed;
        float: left;
        display: block;
        bottom: 155px;
        left: 20px;
        width: 138px;
        border-radius: 10px;
        background: rgb(80, 114, 153);
        z-index: 99999;
    }
    
    .icon-like {
        width: 90px;
        height: 90px;
        margin: 15px 60px 8px 60px;
    }
    
    #mespr{
        width: 125px;
        height: 125px;
        margin: 8px;
    }
    a.username {
        cursor: pointer;
        border-radius: 5px;
        background: #ffffff;
        color: #507299;
        top: 12px;
        position: relative;
        font-size: 20px;
        margin: 0 auto;
        padding: 5px 0 5px 0;
        font-style: initial;
        text-transform: uppercase;
        font-family: sans-serif;
    }
}

@media screen and (min-width: 1200px)  {
    .fr-cell{
        font-size: 24px;
    }
    .large .button {
        font-size: 23px;
        border: 1px solid #507299;
        border-radius: 6px;
        box-sizing: border-box;
        color: #ffffff;
        padding: 8px 0px;
        -webkit-appearance: none;
        background: #507299;
    }
    .large form {
        width: 600px;
        margin: 0 auto;
        padding: 15px;
    }
    .large span,
    .large label {
        font-size: 17px;
    }
    .large input {
        background: #f1f1f1;
        border: none;
        font-size: 18px;
        padding: 8px 8px;
        margin: 5px 0;

    }
    a#user-link{
        padding: 0;
        font-size: 20px;
        color: #507299;
        font-family: sans-serif;
    }

    p#post-text {
        font-size: 20px;
        margin: 0 auto;
        padding: 10px 40px;
        text-align: left;
        color: #9a9a9a;    
    }
    a#deletepost {
        float: left;
        background: #507299;
        color: white;
        font-size: 17px;
        margin: 12px 0px 10px 10px;
    }
    img#comment-image {
        max-width: 240px;
        max-height: 240px;
    }
    #SIMPLE {
        display: block;
        position: relative;
        height: 128px;
        width: 200px;
        float: left;
    }               

    #time-comment {
        text-align: right;
        font-size: 14px;
        display: block;
        position: relative;
        padding-right: 5px;
    }

    .large-offset {
        margin: 0 auto;
        margin-top: 20px;
        padding: 0;
        font-size: 18px;
        text-align: center;
        font-family: sans-serif;
    }

    .large-offset .button {
        font-size: 18px;
        border: 1px solid #507299;
        border-radius: 3px;
        box-sizing: border-box;
        color: #ffffff;
        padding: 5px 55px 6px;
        -webkit-appearance: none;
        background: #507299;
    }

    .large-offset form {
        margin: 0 auto;
        width: 200px;
        background: #ffffff;
        position: relative;
    }

    .large-offset input {
        font-size: 16px;
        background: #f1f1f1;
        border: none;
        box-sizing: border-box;
        color: #262626;
        padding: 10px;
        width: 100%;
        -webkit-appearance: none;
        margin-bottom: 10px;
    }


    .us-block img {
        margin: 5px;
        width: 150px;
        height: 150px;
        border: none;
        background-size: cover;
    }

    .send button {
        color: #ffffff;
        border: 1px solid #507298;
        font-size: 26px;
        background: #507299;
        border-radius: 7px;
        margin-top: 5px;
        width: 100%;
    }
    .compose .message_textarea,
    .box-com .message_textarea,
    .compose #message_textarea {
        background: #f1f1f1;
        border: none;
        padding: 10px;
        font-size: 20px;
        border-radius: 2px;
        color: #7b7b7b;
        margin-bottom: 10px;
        text-align: left;
    }

    #send {
        left: 49%;
    }
    img.send-img {
        outline: 0;
        width: 48px;
        height: 48px;
        background: #507299;
        padding: 6px;
        border-radius: 7px;
    }
    #send-img {
        outline: 0;
        width: 48px;
        height: 48px;
    }
    #conversation .message {
        max-width: 460; /*460px;*/
        min-width: 460; /*460px;*/
        margin: 20px auto;
    }
     #id_image_user_lb{
        font-size: 23px;
        text-align: center;
        background: #507299;
        color: white;
        margin-top: 15px;
        cursor: pointer;
        border-radius: 0;
        z-index: 9999;
        padding: 4px 0px;
    }
    .title {
    float: left;
        margin: 11px 0 0 8;

    }
/*    .about .f-c {*/
/*        background:#f1f1f1;*/
/*    }*/
/*    p#comment-text {*/
/*        font-size: 16px !important;*/
/*    }*/
    .f-c {
        text-align: left;
        margin-right: 20px;
        padding: 5px;
        margin-bottom: 15px;
        background: #ffffff;
        margin-left: 20px;
        border-radius: 7px;
        color: #6f6f6f;
        font-size: 16px !important;
    }
/*    input.comment_text {*/
/*        width: 100%;*/
/*        border: none;*/
/*        font-size: 20px;*/
/*        margin-bottom: 10px;*/
/*        background-color: #f1f1f1;*/
/*        padding: 10px;*/
/*        text-align: center;*/
/*    }*/
    .video_file,
    .image_file{
        display: block;
        background: #507299;
        color: white;
        font-size: 26px;
        margin: 0 auto;
        width: 600px;
        cursor: pointer;
    }
    img.edprof{
        background: #507299;
        border-radius: 7px;
        width: 40px;
        height: 30px;
        right: 80px;
        bottom: 25px;
        padding: 5px;
        position: fixed;
    }
    img.addusr {
        background: #507299;
        border-radius: 7px;
        width: 30px;
        height: 20px;
        right: 80px;
        bottom: 25px;
        padding: 10px;
        position: fixed;
    }
    img.topbt {
        position: fixed;
        width: 40px;
        bottom: 25px;
    }
    em {
        font-size: 20px;
    }
    #results input{
        font-size: 20px;
    }
    #block-post #node {
        background: #FFFFFF;
        max-width: 800px;
        margin: 0 auto;
/*        text-align: center;*/
    }
    #send button {
        color: #ffffff;
        border: 1px solid #507298;
        font-size: 26px;
        background: #507299;
        border-radius: 7px;
        width: 600px;
        margin-top: 20px;
    }
    .uspgimg img {
        height: 300px;
    }
    a.username {
        cursor: pointer;
        border-radius: 5px;
        background: #ffffff;
        color: #507299;
        top: 12px;
        position: relative;
        font-size: 16px;
        margin: 0 auto;
        padding: 5px 0 5px 0;
        font-style: initial;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    .pm-mes a, #YO a, .private_messages a{
        cursor: pointer;
        border-radius: 5px;
        background: #507299;
        color: #ffffff;
        top: 5px;
        position: relative;
        font-size: 20px;
        width: 600px;
        display: block;
        margin: 8px auto;
        padding: 5px 0 5px 0;
        font-style: initial;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    input#recipient_name, 
    input#id_title, 
    input#NameBox{
        width: 100%;
        padding: 2px;
        text-align: center;
        background: #f1f1f1;
        border: none;
        margin: 15px 0px;
        font-size: 25px;
        color: #a9a9a9;
    }
    img#like_count {
        position: fixed;
        left: 80px;
        bottom: 25px;
        width: 30px;
        height: 30px;
        border-radius: 7px;
        padding: 5px;
        opacity: 0.9;
        background: #e3554c;
    }
    .pmu {
        font-size: 20px;
    }
    .private_messages h1{font-size: 20px}
    #block-post #next{
        height: 58px;
        width: 33px;
        padding: 4px;
        border-radius: 5px;
        background-image: url(/media/images/controlsv4.png);
        background-position: 0 -41px;
        background-size: cover;
        background-color: #6d6d6d;
        opacity: 0.7;
        position: fixed;
        top: 50%;
        left: 25px;
        margin-top: -16px;
        z-index: 9999999;
    }
    #back {
        height: 58px;
        width: 32px;
        right: 25px;
        background-image: url(/media/images/controlsv4.png);
        background-position: 0 66px;
        background-size: cover;
        padding: 4px;
        border-radius: 5px;
        position: fixed;
        opacity: 0.7;
        background-color: #6d6d6d;
        top: 50%;
        margin-top: -16px;
        z-index: 9999999;
    }
    #block-post #close{
        background-image: url(/media/images/controlsv4.png);
        width: 30px;
        height: 30px;
        padding: 5px;
        background-size: cover;
        position: fixed;
        background-color: #5f5f5f;
        border-radius: 4px;
        right: 40px;
        bottom: 25px;
        margin: 0 auto;
        background-position: 1px 0px;
        opacity: 5.5;
        -o-transition: opacity 100ms linear;
        transition: opacity 100ms linear;
        cursor: pointer;
        z-index: 9999999;
    }
     .userview   {
        background: url(/media/images/showvF.png);
        background-size: cover;
        margin: 0 auto;
        height: 33px;
        width: 60px;
        display: block;
    }
    .soc a {
        text-transform: uppercase;
        font-size: 20px
    }
    .us-name h3 {
        font-size: 26px;
        color: #507299;
        margin: 0;
    }
    .icon-like {
        width: 36px;
        height: 36px;
        margin: 5px 25px 3px 25px;
    }

    #breadcrumb {
        height: 40px;
        text-align: center;
        color: #FFFFFF;
        cursor: default;
        font: normal normal normal 15pt/10pt 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }
    #breadcrumb .user {
        float: right;
        font-size: 15px;
        margin: 13px 10px;
    }
    textarea, select, a.button {
        font-family: Arial;
        border-color: #507299;
        background: #f1f1f1;
        color: #ada9a9;
        border: none;
        font-size: 20px;
    }
    .wallpost {
        min-width: auto;
        cursor: pointer;
    }
    #conver {
        font-size: 16px;
    }
    #conversation {
        margin: 0 auto;
        width: 1260px;
    }
    #block-post #node .auto-images img {
        max-width: 100%;
        max-height: 100%;
        min-width: 0;
    }
    .postview{float: left;margin: 11px 5px;}
    .datetime{float: right;margin: 11px 5px;}
    button {
        color: #ffffff;
        font-size: 25px;
        background: #507299;
        border: none;
        padding: 5px;
        border-radius: 0px;
        width: 100%;
    }
    #userA, #addPost {
        width: 39px;
        height: 30px;
    }
    #userA:hover{
        background: url(/media/images/USERICONvF.png)0 29px;
        position: relative;
        background-size: cover;
        border: none;
        padding: 0;
        width: 39px;
        height: 30px;
    }
    #addPost:hover{
        background: url(/media/images/ADDICONvF.png)0 30px;
        position: relative;
        background-size: cover;
        border: none;
        padding: 0;
        width: 39px;
        height: 30px;
    }
    .message .views-title {
        background: #507299;
        color: white;
        border-radius: 0;
        font-size: 16px;
    }
    
    #image-user,
    .message .views-title img {
        border-radius: 33px;
        float: left;
        margin: 5px;
        width: 39px;
        height: 39px;
    }
    .usPr {
        height: 38px;
    }
    #header a {font-size: 20px}
    .logoF {
        width: 39px;
        height: 23px;
        position: relative;
        top: 3px;
    }
    .aLogo {
        color:white;
        font-family:sans-serif;
        top: 5px;
        position: relative;
    }
    #header {
        width: 100%;
        margin: 0 auto;
        background-size: contain;
        height: 40px;
    }
    .compas{
        width: 30px;
        height: 30px;
        border-radius: 7px;
        z-index: 9999999;
        padding: 5px;
        background: #507299;
        left: 25px;
        bottom: 25px;
        position: fixed;
    }
    #butMen{
        position: fixed;
        float: left;
        display: block;
        bottom: 80px;
        left: 21px;
        width: 48px;
        border-radius: 10px;
        background: rgb(80, 114, 153);
        z-index: 99999;
    }
    .enter {width:40px; height:40px;float: right;cursor: pointer;}
    .imglogo {height: 40px;}
    #mespr{
        width: 40px;
        height: 35px;
        margin:2px;padding:2px;
    }
    .us-block {
        text-align: center;
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
    }
}
