absl-py==1.3.0
aioredis==1.3.0
amqp==5.1.1
asgiref==3.6.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
autobahn==22.12.1
Automat==22.10.0
billiard==3.6.4.0
cachetools==5.2.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
channels==3.0.1
channels-redis==4.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clickhouse-driver==0.2.5
constantly==15.1.0
cryptography==38.0.4
daphne==3.0.2
Django==3.2
django-redis==5.2.0
django-redis-sessions==0.6.2
faiss-gpu==1.7.2
flatbuffers==22.12.6
flower==1.2.0
gast==0.4.0
gevent==22.10.2
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.1
grpcio==1.51.1
h5py==3.7.0
hiredis==2.1.1
humanize==4.6.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==5.2.0
incremental==22.10.0
keras==2.11.0
kombu==5.2.4
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
msgpack==1.0.4
numpy==1.24.1
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.1.0
python-dateutil==2.8.2
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pyzmq==24.0.1
qrcode==7.3.1
redis==4.4.0
redis-session==0.2.1
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.3
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-addons==0.19.0
tensorflow-estimator==2.11.0
tensorflow-gpu==2.11.0
tensorflow-io-gcs-filesystem==0.29.0
termcolor==2.1.1
tornado==6.2
Twisted==22.10.0
txaio==22.2.1
typeguard==2.13.3
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
vine==5.0.0
wcwidth==0.2.6
websocket==0.2.1
websocket-client==1.5.0
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.11.0
zope.event==4.6
zope.interface==5.5.2
