<title>
      Главная страница - Крутого сайта
  </title>
<meta name="description" content="{{ user.username }} {{ user.id}}">
<script type="text/javascript">
    function showImg(link){
    document.body.style.overflow = 'hidden';
    var cont = document.getElementById('block-post');
    cont.style.display = 'block';
    var img = document.createElement('img');
    img.id = 'conimg';
    img.src = '/media/data_image/'+link+'.png';
    img.style.maxHeight = document.body.offsetHeight;
    img.style.maxWidth = 1600;
    cont.innerHTML = '';
    cont.appendChild(img);
    cont.onclick = function(){
        cont.style.display = 'none';
        document.body.style.overflow = 'auto';
    }

}
</script>

<style>
  #conimg {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow-y: auto;
}
    #block-post {
    border: 0 none;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
}
</style>
<body style="margin: 0;color: #9d9d9d;background: #fafafa!important;font-family:Arial;">
<header style="width: 100%;background: #ffffff;border-bottom: 1px solid #cfcfcf;font-size: 20px;height: 40px;">
{#    <img src="/media/images/unn.png" width="30" height="30" style="float: left;margin: 5px">#}
<a href="/skin" style="color:#02b875;text-decoration: none;float:left;margin: 9px;">КРУТОЙ САЙТ</a>
    <a href="/skinuser/{{ user.id }}" ><img src="/media/data_image/{{ user }}.png" width="30" height="30" style="border-radius: 30px;display: block;float: right;margin: 5px;"></a>
    <a href="/skinadd/"> <button style="display: block;margin: 6px;font-size: 20px;background: #ffffff;border-radius: 6px;border:none;color: rgb(2, 184, 117);float: right;">добавить</button></a>

    <div class="menu-h" style="float: right;margin: 9px;">
{#        <a href="/file/" style="color: #9d9d9d;">медиа</a>#}
        <a href="/community/" style="color: #9d9d9d;">сообщества</a>
        <a href="/friend/" style="color: #9d9d9d;">друганы</a>
    </div>

</header>
<div id="content" style="width: 980px;margin:0 auto;max-width: 1600px">
 <div class="com" style="float:left;width: 175px;text-align: center;">
        <h1 style="font-size: 18px;margin: 10 auto;">СОБЕСЕДНИКИ</h1>

    {% for thread in threads %}
        <div class="pm" style="margin: 10px auto;" onclick="mesID('{{ thread.id }}','{{ request.user }}')"><img src="/media/data_image/tm_{{ thread.partner.username }}.png" class="usPr" style="float:none;border-radius: 6px;"><div class="pmu">{{ thread.partner.username }}</div>
        </div>
    {% empty %}
        <p>Пока что собеседников нет.</p>
    {% endfor %}
    </div>
    <div id="new_message" class="new_message" style="display: block;width: 500px;float: left;">
        {% for m in mes reversed%}
 <div class="message">
            {% if m.sender == user %}
                <p class="author we"><img src="/media/data_image/tm_{{ user.username }}.png" class="usPr" onclick="myPROFILE('{{ user.username }}')" style="float:none;"><p class="txtmessage we">{{ m.text|linebreaksbr }}<span class="datetime" style="font-size: 15px;color: #afafaf;">{{ m.datetime|date:"d.m H:i" }}</span></p></p>
            {% else %}
                <p class="author partner"><img src="/media/data_image/tm_{{ partner.username }}.png" class="usPr" onclick="userPROFILE('{{ partner.id }}')" style="float:none;"><p class="txtmessage partner">{{ m.text|linebreaksbr }}<span class="datetime" style="font-size: 15px;color: #afafaf;">{{ m.datetime|date:"d.m H:i" }}</span></p></p>
            {% endif %}


        </div>
        {% endfor %}
    </div>
 </div>
<script>
function mesID(thread_id, user_name){
    var cont = document.getElementById('new_message');
       var http = new XMLHttpRequest();
       if( http )   {
            var linkfull = '/messages/chat/' + thread_id;
            http.open('get', linkfull);
            http.onreadystatechange = function () {
                if(http.readyState == 4) {
                    cont.innerHTML = http.responseText;
                    activate_chat(thread_id, user_name, number_of_messages);
                }
            };
            http.send(null);
        } else {
            document.location = link;
        }
}
    function createMES(){
    var crsv = document.getElementsByName('csrfmiddlewaretoken')[0].value; // токен
    console.log(crsv);
    var cont = document.getElementById('message').value;
    var id_text = document.getElementById('recipient_name').value;
    if (cont) {
        var linkfull = 'skinmes/send_message/';
        var http = new XMLHttpRequest();
        if (http) {
            var event = { message:cont,
                         recipient_name:id_text };

            var data = JSON.stringify(event);
            http.open('post', linkfull, true);
            http.setRequestHeader('X-CSRFToken', crsv);
            http.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            http.onreadystatechange = function () {
                if (http.readyState == 4) {
                }
            };
            http.send(data);
        }
    } else {alert('Не нажимай лишний раз кнопку, если не заполнил поле')}
}
</script>
</div>
</body>
<div id="block-post" style="display: none;background-color: rgba(0,0,0,.75);" atr="con"></div>


