<title>
   {{ p.title }} опубликовал {{ p.user_post }}
  </title>
<meta name="description" content="{{ p.title }} {{ p.id }} {{ p.user_post }}">
<body style="margin: 0;color: #9d9d9d;background: #fafafa!important;font-family:Arial;">
<header style="width: 100%;background: #ffffff;border-bottom: 1px solid #cfcfcf;font-size: 20px;height: 40px;">
<a href="/skin" style="color:#02b875;text-decoration: none;float:left;margin: 9px">КРУТОЙ САЙТ</a>
     <a href="/skinuser/{{ user.id }}" ><img src="/media/{{ user }}.png" width="30" height="30" style="border-radius: 30px;display: block;float: right;margin: 5px;"></a>
    <a href="/skinadd/"> <button style="display: block;margin: 6px;font-size: 20px;background: #ffffff;border-radius: 6px;border:none;color: rgb(2, 184, 117);float: right;">добавить</button></a>
    <div class="menu-h" style="float: right;margin: 9px;">
{#        <a href="/file/" style="color: #9d9d9d;">медиа</a>#}
        <a href="/community/" style="color: #9d9d9d;">сообщества</a>
        <a href="/friend/" style="color: #9d9d9d;">друганы</a>
    </div>

</header>
<div id="content" style="width: 100%">
    <div id="content-view" style="max-width: 760px;margin: 0 auto;text-align: center">
    <div class="usp" style="width: 60px">
    <a href="/skinuser/{{ p.user_post.id }}"><img src="/media/{{ p.user_post }}.png" width="60" height="60" style="float: left;border-radius: 3px;"></a>
    <a onclick="addfollow('{{ p.user_post.id }}', '{{ user.username }}')" style="font-size: 9px;float: left;display: block">ПОДПИСАТЬСЯ</a>
       </div>
        <div class="ur" style="right: 100px;position: absolute;">
                                <p>РУКЛАМА</p>
                    <p><img src="/media/0abf289c-527.png" width="150"></p>
        </div>
        <div class="content-block" style="background: #f2f2f2;margin: 20px auto;max-width: 600px;padding: 5px;">
        <h1 style="display: block;width: 100%;color:#02b875;text-decoration: none;font-size: 20px" href="/skin/{{ p.id }}">{{ p.title }}</h1>
            <img src="/media/{{ p.image }}.png" style="max-width: 600px">
{#<video controls="" poster="/media/{{ p.image }}.png" preload="metadata" id="id_video" style="display: block; margin: 0px auto; max-width: 600px;" src="/media/video/{{ p.video }}"></video>#}
{#<video controls="" preload="none" id="id_video" style="display: block; margin: 0px auto; max-width: 600px;">#}
{#     <source src="/media/video/{{ p.video }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>#}
{#</video>#}

<div id="video-placeholder"></div>
<script async src="http://www.youtube.com/iframe_api"></script>

<script type="text/javascript">
var player;
var time_update_interval = 0;
function onYouTubeIframeAPIReady() {
    player = new YT.Player('video-placeholder', {
        width: 600,
        height: 400,
        videoId: '{{ p.video }}',
{#        videoId: 'ngElkyQ6Rhs',#}
        playerVars: {
            color: 'white',
            iv_load_policy : 3,
            modestbranding : 1,
            showinfo: 0
        },
        events: {
            onReady: initialize
        }
    });
}
function initialize(){
}
</script>
            <p>{{p.body}}</p>
        <button class="btn" type="button" onclick="LIKENODE('{{ p.id }}')" style="background: #02b875;color: #ffffff; border: none;border-radius: 5px;font-size: 16px">
        like | <strong id="like_count">{{p.total_likes}}</strong>
    </button>
        </div>
    <script>
function LIKENODE(link){  // лайк
var cont = document.getElementById('like_count');
var linkfull = '/add_like/?post_id='+link;
    var http = new XMLHttpRequest()
    if( http )   {
            http.open('get', linkfull);
            http.onreadystatechange = function () {
                if(http.readyState == 4) {
                    cont.innerHTML = http.responseText;
                }
            };
            http.send(null);
        } else {
            document.location = link;
        }
}
function createCOM(id){
    var crsv = document.getElementsByName('csrfmiddlewaretoken')[0].value; // токен
    console.log(crsv);
    var id_comment_text = document.getElementById('id_comment_text').value;
    if (id_comment_text) {
        var linkfull = '/skin/'+id +'?id_com=ok';
        console.log(linkfull);
        var http = new XMLHttpRequest();
        if (http) {
            var event = { comment_text:id_comment_text };
            var data = JSON.stringify(event);
            http.open('post', linkfull, true);
            http.setRequestHeader('X-CSRFToken', crsv);
            http.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            http.onreadystatechange = function () {
                if (http.readyState == 4) {
                    console.log(http.responseText);
                }
            };
            http.send(data);
        }
    } else {alert('Не нажимай лишний раз кнопку, если не заполнил поле')}
}
    </script>
    <div class="comment" style="margin: 5 auto;max-width: 610px;padding: 5px;">
        {% for c in c %}
        <div class="ps-cm" style="margin:5 auto;text-align: left;width: 100%;float: left"><a href="/skinuser/{{ c.comment_user.id }}" style="margin-right: 8px;display: block;float: left"><img src="/media/{{ c.comment_user }}.png" width="60" height="60" ></a><span style="display: block;float: left;color: #02b875;">{{ c.comment_user }} {{ c.timecomment|date:'H:i' }}</span><span style="margin: 10px;position: relative;">{{ c.comment_text }}</span></div>
        {% endfor %}

        {% csrf_token %}
        <input id="id_comment_text" placeholder="Текст" style="border:none;color: #9d9d9d;width: 500px;font-size: 20px;padding: 5px;margin: 5 auto;">
        <button onclick="createCOM('{{ p.id }}')" style="border-radius:3px;padding: 5px;font-size: 20px;border: none;background: #02b875;color: #FFFFFF">отправить</button>
    </div>
    </div>
</div>
</body>