{#цвута с мудиума#}
{#c лувой стороны муню как в вк#}
{#малунька я привьюшка плитка и как в вк#}
{#в машину вывод картинки как в вк#}
<title>
      Главная страница - Крутого сайта
  </title>
<meta name="description" content="{{ user.username }} {{ user.id}}">
<script type="text/javascript">
    function showImg(link){
    document.body.style.overflow = 'hidden';
    var cont = document.getElementById('block-post');
    cont.style.display = 'block';
    var img = document.createElement('img');
    img.id = 'conimg';
    img.src = '/media/data_image/'+link+'.png';
    img.style.maxHeight = document.body.offsetHeight;
    img.style.maxWidth = 1600;
    cont.innerHTML = '';
    cont.appendChild(img);
    cont.onclick = function(){
        cont.style.display = 'none';
        document.body.style.overflow = 'auto';
    }

}
</script>

<style>
  #conimg {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    overflow-y: auto;
}
    #block-post {
    border: 0 none;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
}
</style>
<body style="margin: 0;color: #9d9d9d;background: #fafafa!important;font-family:Arial;">
<header style="width: 100%;background: #ffffff;border-bottom: 1px solid #cfcfcf;font-size: 20px;height: 40px;">
{#    <img src="/media/images/unn.png" width="30" height="30" style="float: left;margin: 5px">#}
{#<a href="/skin" style="color:#02b875;text-decoration: none;float:left;margin: 9px;">КРУТОЙ САЙТ</a>#}
    <img src="/media/images/final1.gif" height="30" style="margin: 5px">
    <a href="/skinuser/{{ user.id }}" ><img src="/media/data_image/{{ user }}.png" width="30" height="30" style="border-radius: 30px;display: block;float: right;margin: 5px;"></a>
    <a href="/skinadd/"> <button style="display: block;margin: 6px;font-size: 20px;background: #ffffff;border-radius: 6px;border:none;color: rgb(2, 184, 117);float: right;">добавить</button></a>

    <div class="menu-h" style="float: right;margin: 9px;">
{#        <a href="/file/" style="color: #9d9d9d;">медиа</a>#}
        <a href="/community/" style="color: #9d9d9d;">сообщества</a>
        <a href="/friend/" style="color: #9d9d9d;">друганы</a>
    </div>

</header>
<div id="content" style="width: 100%;max-width: 1600px">
    <div id="content-view" style="max-width: 760px;margin: 0 auto;text-align: center">
        {% for p in p %}
        <a href="/skinuser/{{ p.user_post.id }}"><img src="/media/data_image/{{ p.user_post }}.png" width="60" height="60" style="float: left;border-radius: 3px;"></a>
        <div class="content-block" style="background: #ffffff;margin: 20px auto;max-width: 600px;padding: 10px;border-radius: 3px;">
        <a style="display: block;margin: 0px 20px 10px 20px;color:#02b875;text-decoration: none;" href="/skin/{{ p.id }}">{{ p.title }}</a>
            <img src="/media/data_image/{{ p.image }}.png" style="max-width: 600px" onclick="showImg('{{p.image}}',this)">
        <p>{{p.body}}</p>
        </div>
        {% endfor %}
    </div>
</div>
</body>
<div id="block-post" style="display: none;background-color: rgba(0,0,0,.75);" atr="con"></div>
