<title>
      Добовляум пост на - Крутой сайт
  </title>
<meta name="description" content="{{ user.username }} {{ user.id}}">
<script>
    var canvas;
var file;
var context;
var dataURL_v1;
var reader = new FileReader();

var im;
function OnOn() {
    canvas = document.getElementById('canvas');
    context = canvas.getContext('2d');
    var input = document.getElementById('id_image');
    file = input.files;
    reader.readAsDataURL(file[0]);
    reader.onload = function (e) {
                im = new Image();
                im.onload = function (e) {
                    canvas.width = im.width;
                    canvas.height = im.height;
                    context.drawImage(im, 0, 0, im.width, im.height);
                    dataURL_v1 = canvas.toDataURL("image/png");
                };
                im.src = reader.result;
};

}
var nameme;
function selme(e){
    nameme = e;
    console.log(nameme)
}
function createPOST(){
    var crsv = document.getElementsByName('csrfmiddlewaretoken')[0].value; // токен
    console.log(crsv);
    var cont = document.getElementById('id_title');
    var id_text = document.getElementById('id_text');
    var text = cont.value;
    var textv1 = id_text.value;
    //var my_image = reader.result;
    if (text) {
        console.log(text);
        var linkfull = '?id_title=' + text + '&id_text=' + textv1;
        var http = new XMLHttpRequest();
        if (http) {
            var event = { my_image: dataURL_v1, my_video:nameme};
            var data = JSON.stringify(event);
            http.open('post', linkfull, true);
            http.setRequestHeader('X-CSRFToken', crsv);
            http.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            http.onreadystatechange = function () {
                if (http.readyState == 4) {
                    alert('Все загружено!!!')
                }
            };
            http.send(data);
        } else {
            document.location = link;
        }
    } else {alert('Не нажимай лишний раз кнопку, если не заполнил поле')}
}
</script>
<style>
    button#RM {
    font-size: 20px;
    background: #02b875;
    border: none;
    border-radius: 4px;
    color: white;
}
    input {
width: 100%;
    font-size: 20px;
    color: #9d9d9d;
    border: none;
    padding: 5px;
    margin: 8px auto;
    background: #fafafa;
}
</style>
<body style="margin: 0;color: #9d9d9d;background: #fafafa!important;font-family:Arial;">
<header style="width: 100%;background: #ffffff;border-bottom: 1px solid #cfcfcf;font-size: 20px;height: 40px;">
<a href="/skin" style="color:#02b875;text-decoration: none;float:left;margin: 9px">КРУТОЙ САЙТ</a>
    <a href="/skinuser/{{ user.id }}" ><img src="/media/data_image/{{ user.username }}.png" width="30" height="30" style="border-radius: 30px;display: block;float: right;margin: 5px;"></a>
    <a href="/skinadd/"> <button style="display: block;margin: 6px;font-size: 20px;background: #ffffff;border-radius: 6px;border:none;color: rgb(2, 184, 117);float: right;">добавить</button></a>

    <div class="menu-h" style="float: right;margin: 9px;">
{#        <a href="/file/" style="color: #9d9d9d;">медиа</a>#}
        <a href="/community/" style="color: #9d9d9d;">сообщества</a>
        <a href="/friend/" style="color: #9d9d9d;">друганы</a>
    </div>

</header>
<div id="content" style="width: 100%;max-width: 1600px">
    <div id="content-view" style="max-width: 760px;margin: 0 auto;text-align: center">
        <div class="content-block" style="background: #ffffff;margin: 20px auto;max-width: 600px;padding: 10px;border-radius: 3px;">
       <div id="control"></div>
 <form action="/skinadd/" method="POST" id="post-form" enctype="multipart/form-data">
                {% csrf_token %}
     <div class="field-title">
            <input id="id_title" placeholder="Название">

        </div>

    <div class="field-image">
        <input id="id_image" name="image" type="file" onchange="OnOn()">
        <canvas id="canvas" width="0" height="0" style="max-width: 600px"></canvas>
        <input id="id_ps" name="image" type="button" onclick="OGO()" value="ВЫБРАТЬ ФАЙЛ">
        <div id="show-block"></div>
        <script>
            function OGO(){
                 var con = document.getElementById('show-block');
                 var http = new XMLHttpRequest();
                    if (http) {
                        http.open('get', '/showmedia/', true);
                        http.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                        http.onreadystatechange = function () {
                            if (http.readyState == 4) {
                                con.innerHTML = http.responseText;
                            }
                        };
                        http.send();
                        }
            }
        </script>
    </div>
    <div class="field-text">
        <input id="id_text" placeholder="Текст">
    </div>
 <span class="field-text-notes">информативность и интересность</span>
</form>
      <div class="post-button"><button id="RM" type="button"  onclick="createPOST()">Нажми меня</button></div>
        </div>
    </div>
</div>
</body>
