<head>
<title>СООБЩЕСТВО</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Неформальное сообщество умных людей" id="description">
<meta name="keywords" content="image, formatica, messages, fun, multimedia" id="keywords">
{#<link rel="shortcut icon" href="/media/images/faviconvF.png" type="image/png">Публикуйте, смотрите, общайтесь#}
<link rel="shortcut icon" href="/media/images/unn.png" type="image/png">
<link rel="stylesheet" type="text/css" media="all" href="/media/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/media/css/colors.css" />
<!--<script type="text/javascript" defer src="/media/js/js.js" ></script>-->
<script type="text/javascript" src="/media/js/js.js" ></script>
</head>
{% if request.user.is_authenticated %}
    <div id="header" style="background-size: contain;display: block;">
        <div class="butNav" id="butMen" style="display: none;">
            <a onclick="addPost()" id="addPost"></a>
            <a onclick="users()" id="userA"></a>
            {#<a id="Oio" style="border: none;float:left;margin:5px;" onclick="filterBEST()"></a>#}
            <img src="/media/images/mesv4.png" onclick="privatMES()" id="mespr">
            {% if request.user.image_user !=  "oneProf.png" %}
                <img onclick="userPROFILE('{{ username.id }}')" src="/media/data_image/{{ username.path_data }}/tm_{{ username.image_user }}" class="usPr"/>
            {% else %}
                <img onclick="userPROFILE('{{ username.id }}')" src="/media/images/oneProf.png"  class="usPr" />
            {% endif %}
        </div>
        <div id="logo">
            <img src="/media/images/compasv3.png" class="compas" onclick="openMenu(this)" id="comps" open-atr="close">
            {#<img src="/media/images/Fv3.png" alt="главная" onclick="indexPAGE()" id="imgh" width="60">#}
            <a href="/"  class="aLogo">СООБЩЕСТВО <img class="logoF" src="/media/images/famaly_logo.png"></a>
            {#<img class="logoF" src="/media/images/Ficonv.png" > FORMATICA</a> #}
            <img src="/media/images/EXITv1.png" onclick="quit()" class="enter" style="display:none;">
        </div>
    </div>
{% else %}
    <div id="header" style="background-color: #507299;background-size: inherit; text-align: center;">
        <a href="/"  class="aLogo">СООБЩЕСТВО <img class="logoF" src="/media/images/famaly_logo.png"></a>
        <img src="/media/images/EXITv4png.png" class="enter" id="enter" onclick="enter()">
    </div>
{% endif %}
<div id="main-wrapper">
    {% block login %}{% endblock %}
    {% block addpost %}{% endblock %}
    {% block addpostv1 %}{% endblock %}
    {% block user %}{% endblock %}
    {% block wall %}{% endblock %}
    {% block content %}{% endblock %}
    {% block user_page %}{% endblock %}
    {% block users_all %}{% endblock %}
</div>
<img src="/media/images/topv1.png" class="topbt" style="cursor:pointer;z-index: 9999" id="topbt" onclick="event_topbt(this)">
<div id="wscroll"></div>
<div id="block-post" style="display: none;background-color: rgba(0,0,0,.75);" atr="con"></div>
