{% block content %}
{% load pluralize %}
<div id="pages" align="center" style="display: none;">
    {% if thread_messages.has_next %}
        <span id="IOP" style="display: none">{{ thread_messages.next_page_number }}</span>
    {% else %}
        <span id="IOP" style="display: none">STOP</span>
    {% endif %}
    <div id="chat_id" style="display:none;">{{ thread_id }}</div>
</div>
<div id="conver-chat">
<div class="chat" id="chat">
    <div class="parchat">
        <p class="name">{{ partner.username }}</p>
        <p id="messages"><span id="total">{{ messages_total }}</span> {{ messages_total|rupluralize:"сообщение,сообщения,сообщений" }} (<span id="received">{{ messages_received }}</span> получено, <span id="sent">{{ messages_sent }}</span> отправлено)</p>
    </div>
    <div id="dot-loader">
        <div class="dot-typing"></div>
    </div>
    <div id="conver">
        {% for message in thread_messages reversed %}
        <div class="message">
            {% if message.sender == user %}
                <p class="author we">
                    {% if message.sender.image_user != "oneProf.png" %}
                        <img src="/media/data_image/{{ user.path_data }}/tm_{{ user.image_user }}" class="usPr" onclick="userPROFILE('{{ message.sender.id }}')" style="float:none;">
                    {% else %}
                        <img src="/media/images/oneProf.png" class="usPr" onclick="userPROFILE('{{ message.sender.id }}')" style="float:none;">
                    {% endif %}
                    <p class="txtmessage we">
                        {% if message.resend != "False" %}
                            <a onclick="showContent({{message.text}})">СМОТРЕТЬ→</a>
                        {% else %}
                            {{ message.text|linebreaksbr }}
                        {% endif %}
                        <span class="datetime" style="color: #afafaf;">{{ message.datetime|date:"d.m H:i" }}</span>
                    </p>
                </p>
            {% else %}
                <p class="author partner">
                    {% if message.sender.image_user != "oneProf.png" %}
                        <img src="/media/data_image/{{ partner.path_data }}/tm_{{ partner.image_user }}" class="usPr" onclick="userPROFILE('{{ partner.id }}')" style="float:none;">
                    {% else %}
                        <img src="/media/images/oneProf.png" class="usPr" onclick="userPROFILE('{{ partner.id }}')" style="float:none;">
                    {% endif %}                
<!--                    <img src="/media/data_image/{{ partner.path_data }}/tm_{{ partner.image_user }}" class="usPr" onclick="userPROFILE('{{ partner.id }}')" style="float:none;">-->


                    <p class="txtmessage partner">
                        {% if message.resend != "False" %}
                            <a onclick="showContent({{message.text}})"> </a>
                        {% else %}
                            {{ message.text|linebreaksbr }}
                        {% endif %}
                        <span class="datetime" style="font-size: 15px;color: #afafaf;">{{ message.datetime|date:"d.m H:i" }}</span>
                    </p>
<!--                    <p class="txtmessage partner">{{ message.text|linebreaksbr }}-->
<!--                        <span class="datetime" style="font-size: 15px;color: #afafaf;">{{ message.datetime|date:"d.m H:i" }}</span>-->
<!--                    </p>-->
                </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div id="SIMPLE"></div>
    </div>
</div>
    <form id="message_form">
        <div class="compose">
            <div id="message_textarea" 
                 role="textbox" 
                 contenteditable="true" 
                 aria-multiline="true" 
                 aria-required="true" 
                 placeholder="Введите ваше сообщение..." 
                 contentEditable=true></div>
        </div>
        <button id="btn" type="button" onclick="send_message(this, '{{ thread_id }}');">ОТПРАВИТЬ</button>
<!--        <div class="send">-->
<!--        </div>-->
    </form>
<script>
activate_chat('{{ thread_id }}', '{{ request.user }}', '{{messages_total}}');
</script>
{% endblock content %}
