<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<header style="width: 100%;background: #ffffff;border-bottom: 1px solid #cfcfcf;font-size: 20px;height: 40px;">
{#    <img src="/media/images/unn.png" width="30" height="30" style="float: left;margin: 5px">#}
<a href="/skin" style="color:#02b875;text-decoration: none;float:left;margin: 9px;">КРУТОЙ САЙТ</a>
    <a href="/skinuser/{{ user.id }}" ><img src="/media/data_image/{{ user }}.png" width="30" height="30" style="border-radius: 30px;display: block;float: right;margin: 5px;"></a>
    <a href="/skinadd/"> <button style="display: block;margin: 6px;font-size: 20px;background: #ffffff;border-radius: 6px;border:none;color: rgb(2, 184, 117);float: right;">добавить</button></a>

    <div class="menu-h" style="float: right;margin: 9px;">
        <a href="/file/" style="color: #9d9d9d;">медиа</a>
        <a href="/community/" style="color: #9d9d9d;">сообщества</a>
        <a href="/friend/" style="color: #9d9d9d;">друганы</a>
    </div>

</header>
<a href="/upload/" style="color:#02b875; display: block;text-align: center;text-decoration: none;font-size: 20px;margin:15px;">загрузчик</a>
<body style="margin: 0;color: #9d9d9d;background: #fafafa!important;font-family:Arial;">
<div id="content" style="width: 100%;max-width: 1600px">
    <div id="content-view" style="max-width: 760px;margin: 0 auto;text-align: center">
        {% for p in p reversed %}
      <div class="content-block" style="background: #ffffff;margin: 20px auto;max-width: 600px;padding: 10px;border-radius: 3px;">

      <video controls="" preload="none" id="id_video" style="display: block; margin: 0px auto; max-width: 600px;" src="/media/video/{{ p.media }}"></video>

      </div>
        {% endfor %}
    </div>
</div>
</body>
<div id="block-post" style="display: none;background-color: rgba(0,0,0,.75);" atr="con"></div>
</html>



