{% extends 'base.html' %}
{% block content %}
    <div id="pages" align="center" style="display: none;">
    {% if posts.has_next %}
        <span id="IOP" style="display: none">{{ posts.next_page_number }}</span>
    {% endif %}
    </div>
{#       <div id="filt"><a id="Oio" style="border: none;float:left;margin:5px;" onclick="filterBEST()"></a></div>#}
    <ul class="day-block" id="user-content-block" atr="wall-nonregister">
    {% for post in posts %}
        <li class="views-row"  onmouseover="getIndex(this);">
        <div class="field-image" atribut="{{post.id}}">
        {% if post.image != "" %}
            <img style="background: url('/media/data_image/{{ post.path_data }}/{{ post.image }}');width:300;height:230px;background-size: cover;" onclick="showContent('{{post.id}}')" loading="lazy">
        {% else %}
            <img style="background: url('/static/images/no_image.png');width:300;height:230px;background-size: cover;" onclick="showContent('{{post.id}}')" loading="lazy">
        {% endif %}        
        </div>
    {% endfor %}
    </ul>
{% endblock %}
