<!--<script type="text/javascript" defer src="/media/js/js.js" ></script>-->
<!--<link rel="stylesheet" type="text/css" media="all" href="/media/css/style.css" />-->
<span id="IOP" style="display: none">STOP</span>
{% block login %}
    <div class="large-offset" >
    {#            <img src="/media/images/FORMATICAv5.png" alt="логотип" width="auto" height="200">#}
        <form action="/login" method="post">
            {% csrf_token %}
        {#                <label for="username">Имя</label>#}
            <input type="text" name="username" id="username" placeholder="имя">
        {#                <label for="password">Пароль</label>#}
            <input type="password" name="password" id="password" placeholder="пароль">
                {% if login_error %}
            <label class="error">{{ login_error }}</label>
                {% endif %}
            <input class="button" type="submit" value="Войти">
            <div class="label"><a onclick="addREG('javascript')">Регистрация</a> </div>
        </form>
    {#            <img src="/media/images/FORMATICAv3.png" alt="логотип" width="auto" height="200">#}
{% endblock %}
