{% extends 'base.html' %}
{% block wall %}
{#    {% csrf_token %}#}
 <div id="main-wrapper">
<div id="pages" align="center" style="display: none;">
 {% if thread_messages.has_next %}<span id="IOP" style="display: none">{{ thread_messages.next_page_number }}</span>{% endif %}
</div>
<div class="chat" id="DODO" atr="wall">
<div id="conversation">
{% for message in thread_messages %}
<div class="message" onmouseover="getIndex(this);">
 <div onclick="showContent('{{message.id}}')" class="views-title" style="width: 100%;float: left;">
    <div class="user-cord" >
        {% if message.user_post.image_user != "/media/images/Fv2.png" %}
        <img src="/media/data_image/tm_{{message.user_post}}.png" class="imgUs" onclick="userPROFILE('{{message.user_post.id }}')" style="cursor:pointer;">
        {% else %}
        <img src="/media/images/oneProf.png" height="400" width="auto" onclick="userPROFILE('{{message.user_post.id }}')">
        {% endif %}
        <a atribut="{{message.id}}" class="postview"><span style="font-weight: bolder;" >{{message.user_post.username }}</span> → {{ message.title|truncatechars:20 }}</a>
    </div>
    <span class="datetime">{{ message.date_post|date:'H:i' }}</span>
{# {{ message.date_post|date:'d b o в H:i' }}#}
 </div>
{#                    <a class="messageA" onclick="showContent('{{ message.id }}')">←{{ message.title }}→</a>#}
 <div class="field-image" atribut="{{message.id}}">
        <img src="/media/data_image/{{ message.image }}.png" height="auto" width="auto" class="wallpost" onclick="showImg('{{message.image}}',this)" imgb="{{message.image}}">
{#   <img src="/media/data_image/{{ message.imgMed }}.png" height="auto" width="auto" class="wallpost" onclick="showContent('{{message.id}}')" atribut="{{message.id}}">#}
 </div>
 <div class="body">
<div class="text" style="padding:5px;">
{% if message.body  %}

{#{{ message.body|safe}}#}

{{ message.body|truncatechars:60 }}
{#    {{ message.body }}#}
{% endif %}
</div>
 <div id="post_like_block_{{message.id}}" style="width: 100%">
    <img src="/media/images/mesvF.png" onclick="comView('{{ message.id }}')">

<!--     <img src="/media/images/frv1.gif" onclick="LIKE('{{message.id}}')" onmouseover="LIKEOVER('{{message.id}}')" onmouseout="LIKEDONE('{{message.id}}')">-->
     <img id="post_image_{{message.id}}" src="/media/images/frv1.gif" onclick="LIKE('{{message.id}}')" onmouseover="LIKEOVER('{{message.id}}')" onmouseout="LIKEDONE('{{message.id}}')">

    <img src="/media/images/rpvF.png" onclick="rpPost('{{ message.id }}','{{ username }}')">
    
  <div class="box-com" style="display:none;margin: 0 auto;margin-top: 15px;" id="{{ message.id }}">
  </div>
   </div>
 </div>
{#        <img src="{{ message.image.url }}" height="300px" width="auto">#}
</div>
{% endfor %}
  </div>
 </div>
</div>
<div id="block-post" style="display: none;background-color: rgba(0,0,0,.75);" atr="con"></div>
{% endblock wall %}
