<script type="text/javascript" defer src="/media/js/js.js" ></script>
<link rel="stylesheet" type="text/css" media="all" href="/media/css/style.css" />
{% block login %}
    <div class="large">
        <form action="/register/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="id_username" maxlength="30" name="username" type="text" placeholder="имя пользователя">
            <span class="helptext">Необходимо - 30 латинских символов или меньше. Буквы, цифры и символы "@/./+/-/_"</span>
            <br>
            <input id="id_password1" name="password1" type="password" placeholder="пароль">
            <br>
            <input id="id_password2" name="password2" type="password" placeholder="подтверждение пароля">
            <br>
            <input id="id_image_user" name="image_user" type="file" onchange="OnOnreg()" style="overflow: hidden;z-index: -1;opacity: 0;display: none;">
            <label for="id_image_user" id="id_image_user_lb">ЗАГРУЗКА КАРТИКИ</label>
            <div id="cn">
                <img id="oimg">
                <canvas id="canvas" width="0" height="0"></canvas>
            </div>
            <input class="button" type="submit" value="зарегистрироваться" style="display: none;" id="regb">
        </form>
    </div>
{% endblock %}





