
  {% block userViews %}
              {% if users.has_next %}
            <span id="IOP" style="display: none">{{ users.next_page_number }}</span>
        {% endif %}
      <div class="us-block" style="position: relative;" id="DODO" atr="users">
  {% for x in users %}
    <div class="views-row" onclick="userPROFILE('{{x.id}}')">
     <div class="user-image">
         {% if x.image_user != "/media/images/Fv2.png" %}
                 <div style="margin:5px;background-image: url('/media/data_image/{{ x.username }}.png');border:none;background-size:cover; width:180px;height:160px;" ></div>
         {% else %}
             <div style="margin:5px;background-image: url('/media/images/oneProf.png');border:none;background-size:cover; width:180px;height:160px;"></div>
         {% endif %}
     </div>
    <div class="user-name">
        <a atribut="{{x.id}}" style="padding: 0;font-size: 20px;color: #507299;font-family: sans-serif;">{{ x.username|truncatechars:10 }}</a>
    </div>
    </div>
      {% endfor %}
</div>
{% endblock %}
