{% block users_all %}
{% load onlinedetect %}
    {% if users.has_next %}
        <span id="IOP" style="display: none">{{ users.next_page_number }}</span>
    {% else %}
        <span id="IOP" style="display: none">STOP</span>
    {% endif %}
    <div id="filter-users-page"><a onclick="FRIENDS_PAGE({{username.id}}, {{username.total_friends}})">друзья {{username.total_friends}}</a></div>
    <div class="us-block" style="position: relative;" id="DODO" atr="users">
    {% for x in users %}
        <div class="views-row" onclick="userPROFILE('{{x.id}}', 'javascript')">
            <div class="img-user-block">
                <div class="user-image">
                    {% if x.image_user != "oneProf.png" %}
                        <img src="/media/data_image/{{ x.path_data }}/tm_{{ x.image_user }}" loading="lazy"> 
                    {% else %}
                        <img src="/media/images/oneProf.png" loading="lazy"> 
                    {% endif %}
                </div>
                <div class="user-name">
                    <a atribut="{{x.id}}" id="user-link">{{ x.username|truncatechars:10 }}</a>
                </div>
                {% if x.id|onlinedetect %}
                    <div class="numberCircle_users" style="background:#37b73c;"></div>
                {% else %}
                    <div class="numberCircle_users"  style="background:#c3c3c3;"></div>
                {% endif %}
            </div>        
        </div>
    {% endfor %}
    </div>
{% endblock %}
